.byline {
  font-size: 17px;
  margin: 10px 0;

  @media(max-width: 360px) {
    font-size: 14px;
  }
}

.datetime {
  color: $thirdColor;
  font-size: 13px;
  margin: 10px 0 20px;
}

h2.headline {
  @media(max-width: 360px) {
    font-size: 25px;
  }
}

.media-container .caption {
  color: $thirdColor;

  p {
    font-size: 13px; 
  }
}

#sidebar {
  padding-top: 20px;

  .project-info-container {
    margin-top: 20px;
  }

  .recent-stories {
    a {
      font-size: 16px;
      padding: 10px 0;
      display: block;
      border-top: 1px solid #ccc;
    }
  }
}

.social-container {
  input {
    margin-top: 5px;
    width: 170px;
  }

  .sites {
    padding-left: 4px;

    a {
      font-size: 150%;
      display:inline-block;
      margin: 0 8px;
    }
  }
}

.moving-container {
  background-color: #fff;
  z-index: 10;
  padding-top: 10px;
  max-width: 275px;

  &.affix {
    position: fixed;
    top: 48px;
    width: 22%;
  }

  &.affix-bottom {
    position: absolute;
    bottom: 330px;
    width: 22%;
  }
}

.article-navigation {
  border: 1px solid #ccc;

  @media(max-width: 767px) {
    border: none;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }

  ul {
    list-style-type: none;
    margin: 0;
  }

  strong {
    display: block;
    font-size: 1.2em;
  }

  li {
    margin: 0;
    display: inline-block;
    width: 50%;
    text-align: center;

    @media(max-width:640px) {
      span {
        display: none;
      }
    }

    a {
      display: block;
      text-decoration: none;
      padding: 20px 40px;
    }

    i.none {
      display: inline-block;
      padding: 20px 40px;
    }

    &.previous {
      text-align: left;
      border-right: 1px solid #ccc;

      @media(max-width: 767px) {
        border: none;
      }
    }

    &.next {
      text-align: right;

      @media(max-width: 767px) {
        border-left: 1px solid #ccc;
      }

    }
  }
}
