.byline {
  font-size: 17px;
  margin: 10px 0;

  @media(max-width: 360px) {
    font-size: 14px;
  }
}

.datetime {
  color: $thirdColor;
  font-size: 13px;
  margin: 10px 0 20px;
}

.media-container .caption {
  color: $thirdColor;

  p {
    font-size: 13px; 
  }
}

.sidebar {
  padding-top: 20px;

  p {
    margin-bottom: 5px;
  }

  .project-info-container {
    margin-top: 20px;
  }

  .recent {
    margin: 5px 0;

    a {
      font-size: 15px;
      padding: 6px 0;
      display: block;
      border-bottom: 1px solid #ccc;
    }
  }
}

.social-container {
  input {
    margin-top: 5px;
    width: 170px;
  }

  .sites {

    a {
      font-size: 150%;
      display:inline-block;
      margin: 0 8px;
    }
  }
}

.moving-container {
  background-color: #fff;
  z-index: 0;
  padding-top: 10px;
  max-width: 275px;

  &.affix {
    position: fixed;
    top: 48px;
    width: 22%;

    a:hover {
      cursor: pointer;
    }
  }
}

.article-navigation {
  border: 1px solid #ccc;

  @media(max-width: 767px) {
    border: none;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }

  ul {
    list-style-type: none;
    margin: 0;
  }

  strong {
    display: block;
    font-size: 1.2em;
  }

  li {
    margin: 0;
    display: inline-block;
    width: 50%;
    text-align: center;

    @media(max-width:640px) {
      span {
        display: none;
      }
    }

    a {
      display: block;
      text-decoration: none;
      padding: 20px 40px;
    }

    i.none {
      display: inline-block;
      padding: 20px 40px;
    }

    &.previous {
      text-align: left;
      border-right: 1px solid #ccc;

      @media(max-width: 767px) {
        border: none;
      }
    }

    &.next {
      text-align: right;

      @media(max-width: 767px) {
        border-left: 1px solid #ccc;
      }

    }
  }
}

.bottombar {
  aside {   
    display: none !important;
  }

  aside.sidebar.three.columns.hide-for-small {
    width: 100%;
  }

  .sidebar {
    display: none !important;
  }
}

@media only screen and (max-width: 1000px) {
  .bottombar {
    aside {
      display: block !important;
      margin-bottom: 1em;
    }
    
    .sidebar {
      display: block !important;
    }
  }

  .leftbar {
    aside {
      display: none !important;
    }

   .sidebar {
      display: none !important;
    }
  }

  article.single-story.seven.columns {
    width: 100%;
    padding-left: 8.33333%;
    padding-right: 8.33333%;
    padding-top: 0;
  }
}

@media only screen and (max-width: 767px) {
  .gutter {
    display: none;
  }

 article.single-story.seven.columns {
  padding-left: 15px; 
  padding-right: 15px;
 }
}
