body {
  position: relative;
}

#project-nav {
  display: none;

  @media(max-width: 640px) {
    display: block;
  }

  z-index: 10;
  background-color: #fff;

  ul {
    padding-top: 50px;
    list-style-top: none;

    li {
      display: inline-block;

      &.active {
        background-color: blue;
      }
    }
  }
}

.project-section-nav {
  .tabs {
    background-color: #fff;
  }

  &.affix {
    width: 100%;
    z-index: 10;
    top: 45px;
    position: fixed;
  }

  &.small {
    display: block;

    @media(min-width: 767px) {
      display: none;
    }
  }

  &.large {
    display: none;

    @media(min-width: 768px) {
      display: block;
    }
  }
}

#sidebar {
  padding-top: 20px;

  @media(max-width: 768px) {
    display: none;
  }

  .project-info-container {
    margin-top: 20px;
  }

  .recent-stories {
    a {
      margin: 4px 0;
      padding: 3px 0 1px 0;
      display: block;
      border-top: 1px solid #ccc;
    }
  }
}

.social-container {
  input {
    margin-top: 5px;
    width: 170px;
  }

  .sites {
    padding-left: 4px;

    a {
      font-size: 150%;
      display:inline-block;
      margin: 0 8px;
    }
  }
}

.moving-container {
  background-color: #fff;
  z-index: 10;
  padding-top: 10px;
  max-width: 275px;

  &.affix {
    position: fixed;
    top: 48px;
    width: 22%;
  }

  &.affix-bottom {
    position: absolute;
    bottom: 330px;
    width: 22%;
  }
}

.article-navigation {
  border: 1px solid #ccc;

  ul {
    list-style-type: none;
    margin: 0;
  }

  strong {
    display: block;
    font-size: 1.2em;
  }

  li {
    margin: 0;
    display: inline-block;
    width: 50%;
    text-align: center;

    a {
      display: block;
      text-decoration: none;
      padding: 20px 40px;
    }

    i.none {
      display: inline-block;
      padding: 20px 40px;
    }

    &.previous {
      border-right: 1px solid #ccc;

      @media(max-width: 767px) {
        border: none;
      }
    }

    &.next {
      @media(max-width: 767px) {
        border-top: 1px solid #ccc;
      }

    }
  }
}