footer {
  position: relative;
  z-index: 1;
  background-color: $black;
  width: 100%;
  color: #fff;
  font-family: $menuFontFamily;

  ul {
    list-style-type: none;
  }

  .logo {
    padding-top: 40px;
    width: 200px;
  }
  
  .about {
    padding: 25px;
  }

  .colors {
    div {
      height: 5px;
    }

    .yellow {
      background-color: #fcd440;
    }

    .light-blue {
      background-color: #00a7df;
    }

    .red {
      background-color: #df293d;
    }

    .dark-blue {
      background-color: #0e6790;
    }
  }
}