// GENERAL
body {
  position: relative;
}

.content-container {
  margin-top: 44px;
  @media(max-width: 360px) {
    margin-top: 10px;
  }
}

#category-top {
  margin-bottom: 44px;
  @media(max-width: 360px) {
    margin-bottom: 10px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

// ABOUT PAGE
#about-menu {
  &.affix {
    width: 15%;
    z-index: 11;
    top: 45px;
    position: fixed;
  }
}

#about-container ul, ol {
  padding: 1em 2em;
}

// HEADER
.menu-button {
  line-height: 4px;
  text-align: center;
  float: right;

  .line {
    display: inline-block;
    border: 2px solid #444;
    height: 2px;
    width: 100%;
    background-color: #444;
    margin: 0;
  }
}

.header {
  width: 100%;
  margin-bottom: 50px;
  font-family: $menuFontFamily;
  font-color: $menuFontColor;
  font-size: $menuFontSize;

  .header-logo {
    height: 120px;
    padding-top: 10px;
    text-align: center;
    background-color: #222;

    @media(max-width: 767px) {
      display: none;
    }

    img {
      width: 400px;
    }
  }

  .spacer {
    height: 45px;
  }

  .top-bar {
    margin: 0 auto;
    max-width: 1200px;
    border-bottom: 1px solid #333;

    // Foundation overrides
    ul { 
      line-height: 44px;
    }
    
    ul > li.name {
      background: #fff;

      @media(min-width: $topBarBreakPoint) {
        display: none;
      }
    }

    ul > li a:not(.button) {
      height: 44px;
      font-size: $menuFontSize;
      font-weight: $menuFontWeight;
    }

    ul > li.has-dropdown a::after {
      border-color: #333 transparent transparent transparent;
    }
  }

  .nav-container {
    &.affix {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1000;
      margin: 0 auto;
    }
  }

  .social {
    i {
      font-size: 135%;
    }

    &.desktop {
      display: block;

      @media(max-width: $topBarBreakPoint) {
        display: none;
      }
    }

    &.mobile {
      display: none;

      a { 
        display: inline !important;
        padding: 5px !important;
      }

      @media(max-width: $topBarBreakPoint) {
        display: block;
      }
    }
  }
}

// PAGE FOOTER
footer {
  position: relative;
  z-index: 1;
  background-color: #000;
  width: 100%;
  color: #fff;

  .row {
    padding: 20px;
  }

  ul {
    list-style-type: none;
  }
}

// NEWS FEED STYLES
// Project header on news feed item
.category-symbology {
  text-transform: uppercase;
  margin-top: 1em;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: $categoryFontWeight;
  font-family: $categoryFontFamily;
 
  a:link, a:visited {
    color:#222;
  } 
}

// Tag
span.radius.label a {
  color: #fff; 
  font-weight: 600; 
  line-height: 1.5em;
}

// External link icon
.external-link {
  width: 20px;

  @media(max-width: 360px) {
    width: 14px;
  }
}

// External link source
article.row {
  .external-source {
    color: $thirdColor;
  }
}

/* WordPress Core Image Stuff
-------------------------------------------------------------- */
.alignnone {
margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
display: block;
margin: 5px auto 5px auto;
}

.alignright {
float:right;
margin: 5px 0 20px 20px;
}

.alignleft {
float: left;
margin: 5px 20px 20px 0;
}

.aligncenter {
display: block;
margin: 5px auto 5px auto;
}

a img.alignright {
float: right;
margin: 5px 0 20px 20px;
}

a img.alignnone {
margin: 5px 20px 20px 0;
}

a img.alignleft {
float: left;
margin: 5px 20px 20px 0;
}

a img.aligncenter {
display: block;
margin-left: auto;
margin-right: auto
}

/* End of WordPress Core
-------------------------------------------------------------- */

#logo {
  padding: 2em 1em 2em 1em;
}

.caption {
  padding: 1em 1em;
}

#homepage-content h3 {
  font-size: 24px;
  margin-top: 8px;
  margin-bottom: 8px;
}

#homepage-content #homepage-featured h3 {
  font-size: 48px;
  margin-top: 4px;
}

#homepage-content

.byline {
  margin: 16px 0px 8px 0px;
  font-style: italic;

  @media(max-width: 360px) {
    font-size: 14px;
  }
}

#homepage-content #homepage-featured .category-symbology {
  font-size: 14px;
  p:after
}

#homepage-content #homepage-featured .category-symbology .one-category:after {
  content: ", ";
}

#homepage-content #homepage-featured .category-symbology .one-category:last-child:after {
  content: "";
}