// GENERAL
body {
  position: relative;

  p {
    line-height: 1.5;
    
    @media(max-width: 360px) {
      font-size: 16px;
    }
  }

  li {
    line-height: 1.5;
    
    @media(max-width: 360px) {
      font-size: 16px;
    }
  }  

  div {
    line-height: 1.5;
  }

  .byline {
    line-height: 1.5;
  }

  h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    font-weight: 600;
  }
  
  aside p {
    font-style: normal
  }

  ul {
    list-style-position: inside;
  }

  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  -ms-transition: color 0.2s ease-out;
  -o-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;

}

.content-container {
  margin-top: 44px;
  @media(max-width: 360px) {
    margin-top: 10px;
  }
}

#category-top {
  margin-bottom: 44px;
  @media(max-width: 360px) {
    margin-bottom: 10px;
  }
}

// Tag
span.label a {
  color: #fff; 
  font-weight: 600; 
  line-height: 1.5em;
  font-family: $sansSerifFont;
}

// External link icon
.external-link {
  width: 14px;
  margin-left: 0.25em;

  @media(max-width: 360px) {
    width: 9px;
  }
}

// External link source
article.row {
  .external-source {
    color: $thirdColor;
  }
}

.caption {
  padding: 0;
}

// lists
ul.no-markers {
  list-style-type: none;
}

// Project header on news feed item
.category-symbology {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: $categoryFontWeight;
  font-family: $categoryFontFamily;
 
  a:link, a:visited {
    color: #222;
  }

  @media(max-width: 360px) {
    font-size: 12px;
  }
}

h3.headline {
  font-size: 24px;
  margin: 0.25em 0 0 0;
}

h4.headline {
  font-size: 18px;
  margin: 0.3em 0 0 0;
}

h2.headline {
  font-size: 36px;
  margin: 0.3em 0 0.2em 0;
}

h1.headline {
  font-size: 48px;
}

.byline-date {
  font-family: $dateFontFamily;
  font-weight: $dateFontWeight;
  color: $dateFontColor;
  font-size: $dateFontSize;
}

.byline-author {
  font-family: $byFontFamily;
  font-weight: $byFontWeight;
  color: $byFontColor;
  font-size: $byFontSize;
}

/* WordPress Core Image Stuff, legacy posts support
-------------------------------------------------------------- */
.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter, div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float:right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto
}
/* End of WordPress Core image stuff
<<<<<<< Updated upstream
-------------------------------------------------------------- */


.project-section-nav {
  font-family: $sansSerifFont;
}


@media(max-width: 767px) {

 #homepage-content #features #top-featured article p {

    .byline-date {
      font-size: 16px;
    }

    .byline-author {
      font-size: 16px;
    }

  }

  #sub-featured article {
      border-top: 1px $black solid;
      padding: 14px 0 12px 0;
  }

  h3.headline {
    font-size: 24px;
    margin: 0.3em 0 0 0;
  }

  h4.headline {
    font-size: 24px;
    margin: 0.3em 0 0 0;
  }

  h2.headline {
    font-size: 24px;
    margin: 0.3em 0 0 0;
  }

  h1.headline {
    font-size: 24px;
    margin-top: 0.5em;
  }

}

.stream-excerpt p {
  margin-bottom: .5em;
}

#email-signup-label {
  color: #fff; margin-bottom: 0.5em
}

#mc-embedded-subscribe {
  font-size: 16px;
}