.menu-button {
  line-height: 4px;
  text-align: center;
  float: right;

  .line {
    display: inline-block;
    border: 2px solid #444;
    height: 2px;
    width: 100%;
    background-color: #444;
    margin: 0;
  }
}

.header {
  width: 100%;
  margin-bottom: 22px;
  font-family: $menuFontFamily;
  font-color: $menuFontColor;
  font-size: $menuFontSize;

  .header-logo {
    height: 160px;
    padding-top: 40px;
    text-align: left;
    background-color: $black;

    @media(max-width: 767px) {
      display: none;
    }

    img {
      width: 400px;
    }
  }

  .compressed-logo {
    height: 38px;
    margin-right: 10px;
    display: inline-block;
  }

  .spacer {
    height: 45px;
  }

  .top-bar {
    margin: 0 auto;
    max-width: 1200px;
    border-bottom: 1px solid #333;

    ul > li.toggle-topbar {
      height: 44px;
    }

    ul > li:not(.name):hover {
      background: #fff;
    }

    ul > li a:not(.button) {
      height: 44px;
      font-size: $menuFontSize;
      font-weight: $menuFontWeight;
    }

    ul > li.has-dropdown .dropdown li {
      border-left: 1px solid $thirdColor;
      border-right: 1px solid $thirdColor;
    }

    ul > li.has-dropdown .dropdown .last {
      border-bottom: 1px solid $thirdColor;
    }

    ul > li.has-dropdown a:after {
      border-color: $black transparent transparent transparent;
    }

    ul > li.name {
      background: #fff;

      @media(min-width: $topBarBreakPoint) {
        display: none;
      }
    }

    li.search {
      line-height: 44px;
      padding: 0 5px;
    }

    ul > li.has-dropdown .dropdown {
      padding: 0px;
    }
  }

  .nav-container {
    &.affix {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1000;
      margin: 0 auto;
    }
  }
}