span.round.label a {color: #fff; font-weight: 600; line-height: 1.5em;}

.project-section-nav {
  .tabs {
    background-color: #fff;
    height: auto;
    margin-bottom: 0;
  }

  &.affix {
    background-color: #fff;
    width: 100%;
    z-index: 50;
    top: 45px;
    position: fixed;
    -webkit-box-shadow: 0 8px 30px -8px #555;
       -moz-box-shadow: 0 8px 30px -8px #555;
            box-shadow: 0 8px 30px -8px #555;
  }

  &.small {
    display: none;

    @media(max-width: 360px) {
      display: block;
    }
  }

  &.large {
    display: block;

    @media(max-width: 360px) {
      display: none;
    }
  }
}

.project-header {
  @media(max-width: 767px) {
    display: none;
  }
}

#background {
  @media(max-width: 767px) {
    display: none;
  }
}

#background-compressed {
  display:none;

  @media(max-width: 767px) {
    display: block;
  } 
}

#feature-container {

  // Patch to handle caption disconnect and reconnect
  // At ~867px, there is too much white space under
  // the feature carousel, so we disconnect the caption
  // from the photo to fill the column.
  // Once we get to 767px, we reconnect the caption.
  // To all this, the feature-container needs an explicit height
  @media(max-width: 867px) {
    height: 440px;
  }

  @media(max-width: 767px) {
    height: auto;
  }

  .caption {
    text-align: left;
    bottom: 0;
    left: 0;
    z-index: 10;
    position: absolute;
    background-color: #000;
    opacity: 0.9;
    color: #fff;
    width: 100%;

    // patch, see above comment
    @media(max-width: 867px) {
      position:static;
    }

    @media(max-width: 767px) {
      position: absolute;
    }
  }

  .byline {
    margin: 4px 4px 10px 4px;
    display: inline-block;

    @media(max-width: 360px) {
      font-size: 14px;
    }
  }

  p {
    margin: 4px;
    line-height: 1.2; 

    @media(max-width: 360px) {
      display: none;
    }
  }

  h4 {
    margin: 4px;

    // patch, see above comment
    @media(max-width: 867px) {
      margin: 0 4px;
    }

    @media(max-width: 767px) {
      margin: 4px;
      font-size: 14px;
    }
  }
}

// Show orbit controls on hover
.orbit-wrapper {
  .slider-nav span { @include opacity(0); @include single-transition(opacity, 400ms); }
  &:hover .slider-nav span { @include opacity(1); }
}

#stories {
  article {
    border-bottom: 1px solid #CCC;
    padding: 20px;

    @media(max-width: 360px) {
      padding: 8px;
    }

    .datetime {
      color: $thirdColor;
      margin: 10px 0;
    }

    h4 {
      margin-bottom: 2px;
      margin-top: 10px;

      @media(max-width: 360px) {
        font-size: 14px;
      }
    }

    .external-source {
      color: $thirdColor;
    }
  }
}

#tools-and-data {
  .tool {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    width: 32%;
    margin: 5px;

    @media(max-width: 767px) {
      width: 48%;
    }

    @media(max-width: 550px) {
      width: 100%;
      margin: 0;
    }

    .caption {
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      max-width: 100%;
      width: 100%;
      color: #fff;
      background-color: #333;
      opacity: 0.9;
      position: absolute;
      left: 0;
      bottom: 4px;
      padding: 6px;
      z-index: 10;

      h5 {
        margin: 2px;
        color: #fff;
      }
    }
  }
}