.project-section-nav {
  .tabs {
    background-color: #fff;
    height: auto;
    margin-bottom: 0;
  }

  &.affix {
    background-color: #fff;
    width: 100%;
    z-index: 50;
    top: 45px;
    position: fixed;
  }

  &.small {
    display: none;

    @media(max-width: 360px) {
      display: block;
    }
  }

  &.large {
    display: block;

    @media(max-width: 360px) {
      display: none;
    }
  }
}

.project-header {
  @media(max-width: 767px) {
    display: none;
  }
}

#background {
  @media(max-width: 767px) {
    display: none;
  }
}

#background-compressed {
  display:none;

  @media(max-width: 767px) {
    display: block;
  } 
}

#feature-container {
  .caption {
    text-align: left;
    bottom: 0;
    left: 0;
    z-index: 10;
    position: absolute;
    background-color: #000;
    opacity: 0.9;
    color: #fff;
    width: 100%;

    .details {
      display: none;
    }
  }

  .byline {
    margin: 4px 4px 10px 4px;
    display: inline-block;

    @media(max-width: 360px) {
      font-size: 14px;
    }
  }

  p {
    margin: 4px;
    line-height: 1.2; 

    @media(max-width: 360px) {
      display: none;
    }
  }

  h4 {
    margin: 4px;

    @media(max-width: 767px) {
      margin: 4px;
      font-size: 14px;
    }
  }
}

// Show orbit controls on hover
.orbit-wrapper {
  //.slider-nav span { @include opacity(0); @include single-transition(opacity, 400ms); }
  //&:hover .slider-nav span { @include opacity(1); }
}

#stories {
  article {
    border-bottom: 1px solid #CCC;
    padding: 20px;

    @media(max-width: 360px) {
      padding: 8px;
    }

    h4 {
      margin-bottom: 2px;
      margin-top: 10px;

      @media(max-width: 360px) {
        font-size: 14px;
      }
    }

    .external-source {
      color: $thirdColor;
    }
  }
}