/* line 1, ../sass/article.scss */
#sidebar {
  padding-top: 20px;
}
@media (max-width: 767px) {
  /* line 1, ../sass/article.scss */
  #sidebar {
    display: none;
  }
}
/* line 8, ../sass/article.scss */
#sidebar .project-info-container {
  margin-top: 20px;
}
/* line 13, ../sass/article.scss */
#sidebar .recent-stories a {
  margin: 4px 0;
  padding: 3px 0 1px 0;
  display: block;
  border-top: 1px solid #ccc;
}

/* line 23, ../sass/article.scss */
.social-container input {
  margin-top: 5px;
  width: 170px;
}
/* line 28, ../sass/article.scss */
.social-container .sites {
  padding-left: 4px;
}
/* line 31, ../sass/article.scss */
.social-container .sites a {
  font-size: 150%;
  display: inline-block;
  margin: 0 8px;
}

/* line 39, ../sass/article.scss */
.moving-container {
  background-color: #fff;
  z-index: 10;
  padding-top: 10px;
  max-width: 275px;
}
/* line 45, ../sass/article.scss */
.moving-container.affix {
  position: fixed;
  top: 48px;
  width: 22%;
}
/* line 51, ../sass/article.scss */
.moving-container.affix-bottom {
  position: absolute;
  bottom: 330px;
  width: 22%;
}

/* line 58, ../sass/article.scss */
.article-navigation {
  border: 1px solid #ccc;
}
@media (max-width: 767px) {
  /* line 58, ../sass/article.scss */
  .article-navigation {
    border: none;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
}
/* line 67, ../sass/article.scss */
.article-navigation ul {
  list-style-type: none;
  margin: 0;
}
/* line 72, ../sass/article.scss */
.article-navigation strong {
  display: block;
  font-size: 1.2em;
}
/* line 77, ../sass/article.scss */
.article-navigation li {
  margin: 0;
  display: inline-block;
  width: 50%;
  text-align: center;
}
@media (max-width: 640px) {
  /* line 84, ../sass/article.scss */
  .article-navigation li span {
    display: none;
  }
}
/* line 89, ../sass/article.scss */
.article-navigation li a {
  display: block;
  text-decoration: none;
  padding: 20px 40px;
}
/* line 95, ../sass/article.scss */
.article-navigation li i.none {
  display: inline-block;
  padding: 20px 40px;
}
/* line 100, ../sass/article.scss */
.article-navigation li.previous {
  border-right: 1px solid #ccc;
}
@media (max-width: 767px) {
  /* line 100, ../sass/article.scss */
  .article-navigation li.previous {
    border: none;
  }
}
@media (max-width: 767px) {
  /* line 108, ../sass/article.scss */
  .article-navigation li.next {
    border-left: 1px solid #ccc;
  }
}
