/* line 1, ../sass/custom.scss */
body {
  position: relative;
}

/* line 5, ../sass/custom.scss */
#project-nav {
  display: none;
  z-index: 10;
  background-color: #fff;
}
@media (max-width: 640px) {
  /* line 5, ../sass/custom.scss */
  #project-nav {
    display: block;
  }
}
/* line 15, ../sass/custom.scss */
#project-nav ul {
  padding-top: 50px;
  list-style-top: none;
}
/* line 19, ../sass/custom.scss */
#project-nav ul li {
  display: inline-block;
}
/* line 22, ../sass/custom.scss */
#project-nav ul li.active {
  background-color: blue;
}

/* line 30, ../sass/custom.scss */
.project-section-nav .tabs {
  background-color: #fff;
}
/* line 34, ../sass/custom.scss */
.project-section-nav.affix {
  width: 100%;
  z-index: 10;
  top: 45px;
  position: fixed;
}
/* line 41, ../sass/custom.scss */
.project-section-nav.small {
  display: block;
}
@media (min-width: 767px) {
  /* line 41, ../sass/custom.scss */
  .project-section-nav.small {
    display: none;
  }
}
/* line 49, ../sass/custom.scss */
.project-section-nav.large {
  display: none;
}
@media (min-width: 768px) {
  /* line 49, ../sass/custom.scss */
  .project-section-nav.large {
    display: block;
  }
}

/* line 58, ../sass/custom.scss */
#sidebar {
  padding-top: 20px;
}
@media (max-width: 767px) {
  /* line 58, ../sass/custom.scss */
  #sidebar {
    display: none;
  }
}
/* line 65, ../sass/custom.scss */
#sidebar .project-info-container {
  margin-top: 20px;
}
/* line 70, ../sass/custom.scss */
#sidebar .recent-stories a {
  margin: 4px 0;
  padding: 3px 0 1px 0;
  display: block;
  border-top: 1px solid #ccc;
}

/* line 80, ../sass/custom.scss */
.social-container input {
  margin-top: 5px;
  width: 170px;
}
/* line 85, ../sass/custom.scss */
.social-container .sites {
  padding-left: 4px;
}
/* line 88, ../sass/custom.scss */
.social-container .sites a {
  font-size: 150%;
  display: inline-block;
  margin: 0 8px;
}

/* line 96, ../sass/custom.scss */
.moving-container {
  background-color: #fff;
  z-index: 10;
  padding-top: 10px;
  max-width: 275px;
}
/* line 102, ../sass/custom.scss */
.moving-container.affix {
  position: fixed;
  top: 48px;
  width: 22%;
}
/* line 108, ../sass/custom.scss */
.moving-container.affix-bottom {
  position: absolute;
  bottom: 330px;
  width: 22%;
}

/* line 115, ../sass/custom.scss */
.article-navigation {
  border: 1px solid #ccc;
}
@media (max-width: 767px) {
  /* line 115, ../sass/custom.scss */
  .article-navigation {
    border: none;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
}
/* line 124, ../sass/custom.scss */
.article-navigation ul {
  list-style-type: none;
  margin: 0;
}
/* line 129, ../sass/custom.scss */
.article-navigation strong {
  display: block;
  font-size: 1.2em;
}
/* line 134, ../sass/custom.scss */
.article-navigation li {
  margin: 0;
  display: inline-block;
  width: 50%;
  text-align: center;
}
@media (max-width: 640px) {
  /* line 141, ../sass/custom.scss */
  .article-navigation li span {
    display: none;
  }
}
/* line 146, ../sass/custom.scss */
.article-navigation li a {
  display: block;
  text-decoration: none;
  padding: 20px 40px;
}
/* line 152, ../sass/custom.scss */
.article-navigation li i.none {
  display: inline-block;
  padding: 20px 40px;
}
/* line 157, ../sass/custom.scss */
.article-navigation li.previous {
  border-right: 1px solid #ccc;
}
@media (max-width: 767px) {
  /* line 157, ../sass/custom.scss */
  .article-navigation li.previous {
    border: none;
  }
}
@media (max-width: 767px) {
  /* line 165, ../sass/custom.scss */
  .article-navigation li.next {
    border-left: 1px solid #ccc;
  }
}

/* line 175, ../sass/custom.scss */
#stories article {
  border-bottom: 1px solid #CCC;
  padding-top: 5px;
}
/* line 179, ../sass/custom.scss */
#stories article h5 {
  margin-bottom: 2px;
}
/* line 183, ../sass/custom.scss */
#stories article .byline {
  font-style: italic;
}

/* line 192, ../sass/custom.scss */
#tools-and-data .tool {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  width: 32%;
  margin: 5px;
}
@media (max-width: 767px) {
  /* line 192, ../sass/custom.scss */
  #tools-and-data .tool {
    width: 48%;
  }
}
@media (max-width: 550px) {
  /* line 192, ../sass/custom.scss */
  #tools-and-data .tool {
    width: 100%;
    margin: 0;
  }
}
/* line 209, ../sass/custom.scss */
#tools-and-data .tool .caption {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
  width: 100%;
  color: #fff;
  background-color: #333;
  opacity: 0.5;
  position: absolute;
  left: 0;
  bottom: 4px;
  padding: 6px;
  z-index: 10;
}
/* line 223, ../sass/custom.scss */
#tools-and-data .tool .caption h5 {
  margin: 2px;
  color: #fff;
}
