@import "foundation/common/ratios";

// Settings file containing Foundation defaults

// Grid Settings

$rowWidth: 1200px;
$columnGutter: 24px;
$totalColumns: 12;
$mobileTotalColumns: 4;
$blockGridElements: 12; // Highest number of block grid elements, Maximum of 24 supported

// Colors Settings

$mainColor: #0e6791;
$secondaryColor: #e9e9e9;
$thirdColor: #666;
$alertColor: #c60f13;
$successColor: #5da423;
$txtColor: #222;
$highlightColor: #ffff99;
$grey: #ccc;
$black: #ddd;
$white: #fff;
$shinyEdge: rgba(#fff, .5);
$darkEdge: rgba(#000, .2);

// Font Settings

//$fontSmoothing: antialiased;
$headerFontFamily: "calluna", georgia, serif;
$headerFontWeight: 600;
$headerFontStyle: normal;
$headerFontColor: #222;
$bodyFontFamily: "minion-pro", serif;
$bodyFontWeight: normal;
$bodyFontStyle: normal;
$bodyFontColor: $txtColor;
$categoryFontFamily: "proxima-nova", "Helvetica Neue", Helvetica, sans-serif;
$categoryFontWeight: 700;
$categoryFontStyle: normal;
$categoryFontColor: #222;
$menuFontFamily: "proxima-nova", "Helvetica Neue", Helvetica, sans-serif;
$menuFontWeight: 300;
$menuFontStyle: normal;
$menuFontColor: #222;
$menuFontSize: 20px;
$byFontFamily: "proxima-nova", "Helvetica Neue", Helvetica, sans-serif;
$byFontWeight: 300;
$byFontStyle: normal;
$byFontColor: #666;
$byFontSize: 16px;
$dateFontFamily: "proxima-nova", "Helvetica Neue", Helvetica, sans-serif;
$dateFontWeight: 300;
$dateFontStyle: normal;
$dateFontColor: #888;
$dateFontSize: 16px;
$sansSerifFont: "proxima-nova", "Helvetica Neue", Helvetica, sans-serif;


// Text Direction Settings

$textDirection: ltr; // Controls default global text direction, 'rtl' or 'ltr'

// Button Settings

$buttonRadius: 3px;
$btnBase: 10px;

$tinyBtnBase: $btnBase - 5;
$smallBtnBase: $btnBase - 3;
$largeBtnBase: $btnBase + 5;

// Form Settings

$formSpacing: 12px;
$labelFontWeight: 500;
$labelFontColor: lighten(#000, 30%);
$labelBtmMargin: 3px;
$inputFontColor: rgba(0,0,0,0.75);
$inputFontSize: 14px;
$inputBgColor: #fff;
$inputFocusBgColor: #fff;
$inputBorderColor: #fff;
$inputFocusBorderColor: #fff;
$inputBorderStyle: none;
$inputBorderWidth: 1px;
$inputBorderRadius: 2px;
$fieldsetBorderRadius: 3px;

// Custom Form Settings

$custFormBorderColor: #ccc;
$custFormBgColor: #fff;
$custCheckColor: #222;
$custSelectCurrentFontColor: #141414;
$custSelectBgColor: #fff;
$custSelectBorderColor: #ddd;
$custSelectTriangleColor: #aaa;
$custSelectTriangleColorOpen: #222;
$custSelectDropHeight: 200px;
$custDropdownBgColor: #fff;
$custDropdownBorderColor: darken(#fff, 20%);
$custDropdownFontColor: #555;
$custDropdownSelectedBgColor: lighten(#2ba6cb, 40%);
$custDropdownSelectedFontColor: #000;
$custFormDisabledBgColor: #ddd;

// Tab Settings

$tabHeight: 40px;
$tabTermFontSize: 12px;

// Nav Bar Settings

$navBarHeight: 40px;
$navFlyoutBaseWidth: 250px;

// Top Bar Settings

$topBarBgColor: #fff;
$topBarHeight: 45px;
$topBarHeightMobile: 45px;
$topBarBtmMargin: 30px;
$topBarTitleWeight: bold;
$topBarTitleSize: 17px;
$topBarLinkColor: #222;
$topBarLinkWeight: bold;
$topBarLinkSize: 13px;
$topBarDropBgColor: #fff;
$topBarDropLinkColor: #222;
$topBarDropToggleSize: 5px;
$topBarDropToggleColor: #fff;
$topBarDropToggleAlpha: 0.5;
$topBarSearchWidth: 200px;
$topBarBreakPoint:  767px; // Change to 9999px for always mobile layout
$topBarNavToggleSize: 8px;

// UI Settings

$thumbRadius: 3px;
$progBarHeight: 25px;
$progBarBorderColor: darken(#fff, 20%);
$progBarBorderSize: 1px;
$progBarPad: 2px;
$linkListBottomMargin: 17px -22px;
$tableBorderRadius: 3px;

// Tooltip Settings

$hasTipBorderBottom: dotted 1px #ccc;
$hasTipFontWeight: bold;
$hasTipFontColor: #333;
$hasTipBorderBottomHover: dotted 1px darken($mainColor, 20%);
$hasTipFontColorHover: $mainColor;
$tooltipBackgroundColor: #000;
$tooltipBackgroundOpacity: 1.0;
$tooltipFontSize: 12px;
$tooltipFontWeight: bold;
$tooltipFontColor: #fff;
$tapToCloseFontSize: 10;
$tapToCloseFontWeight: normal;
$tapToCloseFontColor: #888;
$tooltipFontSizeScreenSm: 14;
$tooltipBgOpacityScreenSm: 1.0;
$tooltipBorderRadius: 4px;

// Orbit Settings

$orbitCaptionBgColorOldBrowser: #000;
$orbitCaptionBgColor: rgba(0,0,0,0);
$orbitCaptionFontColor: #fff;
$orbitBulletNavColor: #999;
$orbitBulletNavColorActive: #222;
$orbitHasThumbBorderColor: #000;
$orbitHasThumbBorderWidth: 2px;
$orbitHasThumbBorderStyle: solid;
$orbitSlideNumBgColor: rgba(0,0,0,0.7);
$orbitSlideNumFontColor: #fff;
$orbitSlideNumPadding: 5px;

// Clearing Settings

$clearingBg: rgba(0,0,0,0.8);
$clearingOldBrowserBg: rgb(0,0,0);
$clearingCaptionBg: rgba(0,0,0,0);
$clearingCaptionOldBrowserBg: rgb(0,0,0);
$clearingCaptionFontColor: #fff;
$clearingCloseColor: #fff;
$clearingArrowColor: #fff;
$clearingArrowSize: 16px;
$clearingCarouselBg: rgba(0,0,0,0.75);
$clearingCarouselOldBrowserBg: rgb(0,0,0);
$clearingCarouselHeight: 150px;
$clearingActiveImgHeight: 75%;
$clearingCarouselThumbWidth: 175px;
$clearingCarouselThumbActiveBorder: 4px solid rgb(255,255,255);
$clearingImgBg: rgba(0,0,0,0.75);
$clearingImgOldBrowserBg: rgb(0,0,0);

// Modular Scale Settings

//$ratio: $golden; // THIS IS DEFAULT IN MODULAR-SCALE
$baseFontSize: 20px;
$importantModNum: 44px;
$base-size: $baseFontSize $importantModNum;
// Produced the following list of values: 14, 17, 23, 27, 37, 44, 59, 71, 95, 115;
// http://www.modularscale.com by Tim Brown
// https://github.com/scottkellum/modular-scale by scottkellum

$screenSmall: 768px !default;
$screenMedium: 1279px !default;
$screenXlarge: 1441px !default;

// Saving for better em-based testing
// $screenSmall: 44em !default;
// $screenMedium: 77em !default;
// $screenXlarge: 104em !default;

// Saving for Sass 3.2 stable release
// $mediaSmall: "only screen and (max-width: 767px)" !default;
// $mediaMedium: "only screen and (max-width: 1279px) and (min-width: 768px)" !default;
// $mediaXlarge: "only screen and (min-width: 1441px)" !default;
// $mediaLandscape: "screen and (orientation: landscape)" !default;
// $mediaPortrait: "screen and (orientation: portrait)" !default;
// $mediaAll: "only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px)" !default;

$columnPadding: 4px;
$body-text-line-height: 200px;