// ABOUT PAGE
#about-menu {
  &.affix {
    width: 15%;
    z-index: 11;
    top: 94px;
    position: fixed;
  }
}

#about-container ul, ol {
  padding: 1em 2em;
}

// AUTHOR PAGE
.author {
  border-bottom: 1px solid #ccc;
}

.contact ul {
  i {
    display: inline-block;
    line-height: 14px;
    font-size: 22px;
  }
}