#search {
  padding-left: 20px;
  @media only screen and (max-width: 766px) {
    padding-right: 4%;
    padding-left: 0;
  }  
  padding-right: 2%;  
  @media only screen and (min-width: 766px) and (max-width: 767px) {
    display: none;
  }
  
  #search-container {

    #search-icon {
      background: url(ally/images/icon-magnifying.png) 0 0 no-repeat;
      background-size: 100%;
      height: 15px;
      width: 15px;
      float: left;
      @media only screen and (max-width: 960px) {
        margin: 11px 0 0 11px;
      }
      margin: 12px 0 0 12px;
    }
    #search-box {
      width: auto;
      overflow: hidden; 
      padding-right: 20px;
    }
    width: 100%; 
    overflow: hidden;
    border: 1px solid #cccccc;
    height: 38px;
    @media only screen and (max-width: 960px) {
      margin-top: 29px;
      height: 36px;
    }
    @media only screen and (max-width: 766px) {
      margin-top: 0;
      margin-bottom: 12px;
    }    
    margin-top: 26px;
    input {
      font-size: 14px;
      background-color: transparent;
      margin-left: 10px;
      margin-top: 9px;
      width: 100%;
      outline: none;
      border: none; 
      font-family: "franklin-gothic-urw-cond", "helvetica neue", helvetica, sans-serif;
      color: rgb(159, 159, 159);   
    }
  }
}

#stretch {
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0;
  @media only screen and (max-width: 766px) {
    display: none;
  }
}

#axisphilly-branding {
  width: 226px;
  margin-top: 15px;
}

.twitter {
  width: 17px;
}

@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }

#main-menu {
  padding: 0 20px; 
  @media only screen and (max-width: 766px) {
    padding: 0;
  }  
   ul {
    @media only screen and (max-width: 766px) {
      text-align: left; 
      -ms-text-justify: left; 
      text-justify: left;
    }    
    text-align: justify; 
    -ms-text-justify: distribute-all-lines; 
    text-justify: distribute-all-lines;
   }
}

#nav {    
  padding: 0;
  ul {    
    a {
      color: #9f9f9f;
      text-decoration: none;
      width: auto;
      @media only screen and (max-width: 766px) {
        float: none;
      }      
      float: left;
      font-family: "franklin-gothic-urw-cond", "helvetica neue", helvetica, sans-serif;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 21px;   
      @media only screen and (max-width: 980px) {
        font-size: 16px;
      }

    }
    li {
      font-size: 21px;
      width: auto;
      margin: 0 0;  
      display: inline-block;
      *display: inline;    
      zoom: 1;
      line-height: 450%;
      @media only screen and (max-width: 960px) {
        line-height: 480%;
      }
      @media only screen and (max-width: 766px) {
        display: block;
        line-height: 1.5;
        width: 100%
      }        
    }
    li:first-child {
        margin-left: 0;
    }
    li:last-child {
        margin-right: 0;
    }    
  }
  @media only screen and (max-width: 766px) {
    width: 100%;
    min-width: 100%;
    padding: 0 4%;
  }
  // background-color: #01a8df;
}


// @media screen and (min-width: 60em) {
//   #nav a {
//     margin: 0;
//     padding: 1em;
//     float: left;
//     text-align: center;
//     border-bottom: 0;
//     border-right: 1px solid white;
//   }
// }

#nav ul ul a {
  background: black;
  padding-left: 2em;
}

#logo {
  float: left;
  @media only screen and (max-width: 766px) {
    padding-left: 4%;
    line-height: 2;
    margin-top: 1em;
  }  
  padding-left: 2%;
  line-height: 530%;
  img {
    width: 226px;
  }
}

@media screen and (min-width: 60em) {
  #nav ul ul a {
    display: none;
  }
}

#wrapper {
  @media only screen and (max-width: 766px) {
    top: 0;
  }  
  width: 100%; 
  height: auto;
  left: 0px;
  right: 0px;
  bottom: 0px;  
  top: 83px;
  position: absolute;
}

#header {
  @media only screen and (max-width: 766px) {
    height: auto;
  }
  background-color: #eee;
  margin-bottom: 70px;  
  height: 83px;
  position: static;
  display: block;
  #logo {
    font-size: 21px;
  }
  top: 0px;
  left: 0px;
  right: 0px;
  border-bottom: 1px solid #cccccc;
}

/*! responsive-nav.js v1.0.20 by @viljamis */

#nav ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}

#nav li {
  width: auto;
  float: none;
  display: inline-block;  
}

.js #nav {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

#nav.opened {
  max-height: 9999px;
}

@media screen and (min-width: 767px) {
  .js #nav {
    position: relative;
  }
  .js #nav.closed {
    max-height: none;
  }
  #nav-toggle {
    display: none;
  }
}


#nav-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 18px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}

.icon-bar {
  background-color: #00a7df;
}

#nav-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 4px;
  border-radius: 1px;
}

#nav-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}