a {
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover {
  color: #666 !important;
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
} 

$grey: #ddd;
$black: #222;

#mc_embed_signup {
  .kws_form {
    background-color: transparent;
    background-image: none;
    padding: 0;
    clear: both;
    float: left;
    -webkit-background-clip: border-box;
    -moz-background-clip: border-box;
    background-clip: border-box;
    background-origin: border-box;
    -webkit-background-origin: border-box;
    -moz-background-origin: border-box;
    border: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    width: auto;
    color: #fff!important;
    font-family: "franklin-gothic-urw","helvetica neue",helvetica, arial, sans-serif!important;
    font-size: 16!important;
    text-align: left!important;
    width: 100%;
    .cc_success {
      color: #fff!important;
    }
  }
}


#homepage-content {

  #email-subscription {
    .kws_form {
      background-color: #ffffff;
      background-image: none;
      padding: 0;
      clear: both;
      float: left;
      -webkit-background-clip: border-box;
      -moz-background-clip: border-box;
      background-clip: border-box;
      background-origin: border-box;
      -webkit-background-origin: border-box;
      -moz-background-origin: border-box;
      border: 0;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      border-radius: 0;
      width: auto;
      color: #222!important;
      font-family: "franklin-gothic-urw","helvetica neue",helvetica, arial, sans-serif!important;
      font-size: 16!important;
      text-align: left!important;
      width: 100%;
      .cc_success {
        color: #666!important;
      }
    }



    #email-subscription-header {
      display: inline-block;
    }
    border-top: #102833 solid 3px;
    padding-top: 14px;
    img {
      height: 14px;
      margin-right: 7px;
      float: left;
    }
    h5 {
      font-weight: normal;
      color: #666;
      float: left;
      margin-bottom: 0;
    }
    input {
      border: 1px solid $grey;
    }
  }

  #cityjournal {
    h3 {
      font-family: $condensedFontFamily;
      a {
        color: #222;
      }
    }
    h4 {
      margin-bottom: 4px;
      a {
        color: #00a7df
      }
    }
    h5 {
      font-weight: normal;
      color: #666;
      margin: 4px 0 12px 0;
    }
  }

    #sub-cityjournal {
    h5 {
      margin-bottom: 4px;
      font-weight: bold;
      a {
        color: #00a7df
      }
    }
    h6 {
      font-weight: normal;
      color: #666;
      margin: 4px 0 12px 0;
    }          
  }

  .people-project {
    text-align: center;
    h6, h5 {
      font-weight: normal;
      line-height: 0;
    }
    h6 {
      text-transform: uppercase;
      color: #444444;
      line-height: 6px;
    }
    h5 {
      margin-bottom: 24px;
    }
    a > h5 {
      color: #00a7df;
    }
    .people-project-thumbnail {
      overflow: hidden;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 110px;
      margin-bottom: 24px;
    }
    img {
      width: auto;
      height: auto;
      max-width: 100%;
      vertical-align: middle;
      border: 0;
    }
  }

  .thumbnail {
    max-width: 84px;
    float: left;
    margin: 2px 4% 0 0;
  }

  .thumbnail-secondary {
    display: none;
    @media (max-width: 900px) {
      display: block;
    }
  }

  .byline {
    margin: 0 0 0 0;
    line-height: 1;
    color: #999999;

    a:link, a:visited {
      color: $mainLinkColor;
    } 

    @media(max-width: 360px) {
      font-size: 14px;
    }
  }

  .category-symbology {
    font-size: 14px;
    //p:after

    .social-foundicon-chat {
      font-size: 20px;
      display: inline-block;
      line-height: 7px;
    }

    .one-category:after {
      content: ", ";
    }

    .one-category:last-child:after {
      content: "";
    } 
  }

  .featured_video_plus iframe {
    max-width: 100%;
    max-height: 158px;

    @media(max-width: 1050px) and (min-width : 951px) {
      max-height: 134px;
    }

    @media(max-width: 950px) and (min-width : 900px) {
      max-height: 114px;
    }

    @media(max-width: 900px) and (min-width : 767px) {
      max-height: 173px;
    }

    @media(max-width: 767px) {
      max-height: none;
    }
  }

  #sidebar-featured {
    .category-symbology {
      font-size: 12px;
      margin-top: .4em;
    }
  }

  #sub-featured {
    .category-symbology {
      font-size: 13px;
      margin-top: .4em;
    }
  }  

  #top-featured {
    .category-symbology {
      font-size: 16px;
      margin-top: .6em;
    }
  }  

  #homepage-sidebar-feature {
    h5#most-popular {
      background-color: #102833;
      padding: 10px;
      color: #fff;
      text-transform: uppercase;
      margin-bottom: 8px;
    }
    @media (min-width: 768px) and (max-width: 900px) {
      display: none;
    }
    ul {
      list-style-position: outside;
      padding: 6px 0px 0 32px;
      li {
        margin-bottom: 6px;
        h5 {
          font-weight: normal;
        }
      }
    }
  }

  article#tools {
      @media(max-width: 900px) {
        display: none;
      }    
  }

  #features {

    margin-bottom: 1em;

    article {
      border-top: 1px $grey solid;
      padding: 20px 0 20px 0;
      p {
        font-size: 16px;
      }
      &#tools {
        margin-top: 1em;
        h4 {
          img {
            height: 14px;
            margin-right: 6px;
          }
          font-weight: normal;
          font-family: $condensedFontFamily;
          text-transform: uppercase;
          color: #888;
          margin-bottom: 1em;
        }
      }

    }

    h1, h2, h3, h4, h5, h6 {
      a {
        color: #444;
      }     
      margin: 0;
    }

    article:first-child {
      border-top: none;
      padding-top: 0px;

      @media(max-width: 767px) {
        border-top: 1px solid $grey;
        padding: 20px 0 20px 0;
      }
    }

    p {
      font-size: 16px;
      margin-bottom: 0;
    }
  }

  #top-featured {
    @media (min-width: 768px) and (max-width: 900px) {
      width: 100%;
    }

    .featured_video_plus iframe {
      max-height: none;
    }

    p {
      font-size: 18px;
    }

    @media (max-width: 767px) {
      p {
        font-size: 18px;
      }

      .byline {
        margin: 0;      
      }
    }    

    .byline {
      margin: 12px 0px 4px 0px;

      @media(max-width: 360px) {
        font-size: 14px;
      }
    }
  }

  #sub-featured {
    @media (min-width: 768px) and (max-width: 900px) {
      float: none;
      position: inherit;
      width: 100%;
      display: inline-block;

      article {
        border-top: 1px solid $grey;
        display: inline-block;
        width: 49%;
      }

      article:last-child {
        float: right;
      }
    }
  }

  #sidebar-featured {
    .category-symbology {
      font-size: 12px;
    }
  }

  .discussion {
    .headline {
      background-color: #a2a2a2;
      padding: 15px;
      
      a {
        color: #fff;
      }
    }

    .byline {
      display: none;
    }
  }

  article {
    @media(max-width: 767px) {
      border-top: 1px solid $black;
      padding: 14px 0 12px 0;
    }
  }
}

// hacky
@media (min-width: 768px) and (max-width: 900px) {
  #homepage-content #features #sub-featured article:first-child {
    border-top: 1px $grey solid;
    padding: 20px 0 20px 0;
  }
}

//more hacks
@media(max-width: 767px) {
  #homepage-content #features #top-featured article:first-child {
    border-top: none;
    padding: 0 0 12px 0;
  }
}

// TODO: integrate this media query into above styles
@media(max-width: 767px) {
  #homepage-content #features #top-featured article p {
    .byline-date {
      font-size: 16px;
    }

    .byline-author {
      font-size: 16px;
    }

  }

  #sub-featured article {
      border-top: 1px solid $black;
      padding: 14px 0 12px 0;
  }

  h3.headline {
    font-size: 20px;
    margin: 0.2em 0 0 0;
  }

  h4.headline {
    font-size: 20px;
    margin: 0.3em 0 0 0;
  }

  h2.headline {
    font-size: 20px;
    margin: 0.3em 0 0.2em 0;
  }
}

#people-projects {
  padding: 20px 12px;
  margin-bottom: 1em;

  article p {
    font-size: 18px;
  }
}

#cityjournal {
  padding: 20px 12px;
  margin-bottom: 1em;
  p {
    font-size: 16px;
  }
}

#projects {
  border-top: 1px solid $grey;
  padding: 20px 12px;
  margin-bottom: 1em;

  .featured_video_plus iframe {
    max-width: 100%;
    max-height: 150px;

    @media(max-width: 767px) {
      max-height: none;
    }
  }

  article p {
    font-size: 18px;
  }
}

#people-projects p {
  margin-bottom: 0
}


// hacky 

#sub-top-feature {
  margin-top: -0.4em;
}

#companion_overlay {
  position: absolute; 
  bottom: 0px; 
  width: 100%; 
  background-color: #222; 
  color: #fff; 
  font-size: 12px; 
  text-transform: uppercase; 
  font-family: 'proxima-nova'; 
  padding: 4px 0 4px 8px;
}

#companion {
  position: relative; margin-top: 1em
}

