#project-content {  
  .featured_video_plus iframe {
    max-width: 100%;
    max-height: 176px;

    @media(max-width: 1050px) and (min-width : 951px) {
      max-height: 134px;
    }

    @media(max-width: 950px) and (min-width : 768px) {
      max-height: 114px;
    }

    @media(max-width: 767px) {
      max-height: none;
    }
  }
}  

.project-section-nav {
  font-family: "franklin-gothic-urw", helvetica, arial, sans-serif;
  margin-bottom: 1em;
  
  .tabs {
    background-color: #fff;
    height: auto;
    margin-bottom: 0;
  }

  &.affix {
    background-color: #fff;
    width: 100%;
    z-index: 50;
    top: 45px;
    position: fixed;
  }

  &.small {
    display: none;

    @media(max-width: 360px) {
      display: block;
    }
  }

  &.large {
    display: block;

    @media(max-width: 360px) {
      display: none;
    }
  }
}

.project-header {
  @media(max-width: 767px) {
    display: none;
  }
}

#background {
  @media(max-width: 767px) {
    display: none;
  }
}

#background-compressed {
  display:none;

  @media(max-width: 767px) {
    display: block;
  } 
}

#feature-container {
  .caption {
    text-align: left;
    bottom: 0;
    left: 0;
    z-index: 10;
    position: absolute;
    background-color: #222;
    opacity: 1.0;
    color: #fff;
    width: 100%;
    padding: 1em;

    a:link, a:visited {
      color: #fff;
    }  

    .details {
      display: none;
    }
  }

  .byline {
    margin: 4px 0 0 0;
    display: inline-block;

    @media(max-width: 360px) {
      font-size: 14px;
    }
  }

  p {
    margin: 0 4px;
    line-height: 1.2; 

    @media(max-width: 360px) {
      display: none;
    }
  }

  h4 {
    margin: 4px;

    @media(max-width: 767px) {
      margin: 4px;
      font-size: 14px;
    }
  }
}

#stories {
  article {
    border-bottom: 1px solid $grey;
    padding: 20px;

    .featured_video_plus iframe {
      max-width: 100%;
      max-height: 350px;

      @media(max-width: 767px) {
        max-height: 100px;
        max-width: 100%;
      }
    }

    @media(max-width: 360px) {
      padding: 8px;

      .byline {
        margin: 6px 0;
        font-size: 13px;
      }

      .headline {
        font-size: 14px;
      }

      .byline-author {
        font-size: 13px;
      }

      .byline-date {
        font-size: 13px;
      }
    }

    .external-source {
      color: $thirdColor;
    }
  }
}

#featured.orbit {
  a:link, a:visited {
    color: #fff;
  }  
  .byline {
    margin: 4px 0 0 0;
  }
}

.featured-comment {
  font-family: franklin-gothic-urw, helvetica, sans-serif; 
  font-size: 70%; 
  text-transform: uppercase;
}