<!DOCTYPE html>
<html lang="en">
<head>
  <title>AxisPhilly</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Foundation -->
  <link rel="stylesheet" href="../../../stylesheets/app.css">
  <link rel="stylesheet" href="../../../stylesheets/foundation-overrides.css">
  <link rel="stylesheet" href="../../../stylesheets/custom.css">
  <!-- Custom Styles -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,800,600' rel='stylesheet' type='text/css'>
  <!-- Modernizer -->
  <script src="../../../javascripts/foundation/modernizr.foundation.js"></script>
</head>
<body>
  <!-- Fixed header -->
  <div class="fixed contain-to-grid">
    <nav class="top-bar">
      <ul>
        <li class="name"><h1><a href="/demo/">AxisPhilly</a></h1></li>
        <li class="toggle-topbar"><a href="#"></a></li>
      </ul>
      <section>
        <ul class="left">
          <li class="has-dropdown">
            <a href="#">Our Projects</a>

            <ul class="dropdown">
              <li class="active"><a href="/demo/project/avi">AVI</a></li>
              <li><a href="#">Lobbying</a></li>
            </ul>
          </li>
          <li class="divider"></li>
          <li><a href="#">Tools &amp; Data</a></li>
          <li class="divider"></li>
          <li><a href="#">About</a></li>
          <li class="search">
        </ul>
      </section>
    </nav>
  </div><!-- End fixed header -->

  <!-- Content -->
  <div class="content-container">
    <div class="row">
      <ul class="breadcrumbs twelve columns">
        <li><a href="#">Our Projects</a></li>
        <li class="current"><a href="#">Actual Value Initiative</a></li>
      </ul>
    </div>

    <!-- News Container -->
    <div id="news-container">
      
      <div class="row">
        <header class="project-header eight columns">
          <h1>Actual Value Initiative</h1>
        </header>
      </div>

      <!-- Header Row -->
      <div class="row">
        <!-- Background -->
        <div id="background" class="five columns">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco.</p>

          <p>Laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Fored dfdm lorem
          impsum dolor.</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco.</p>
        </div>

        <!-- Features -->
        <div id="feature-container" class="seven columns">
          <div id="featured">
            <!-- features go here -->
          </div>
        </div><!-- End Features -->

      </div><!-- End Header Row -->

      <div class="project-section-nav small" data-spy="affix" data-offset-top="820">
        <div class="row">
          <dl class="tabs three-up">
            <dd class="active"><a href="#feed">Stories</a></dd>
            <dd><a href="#data">Tools</a></dd>
            <dd><a href="#talk">Discuss</a></dd>
          </dl>
        </div>
      </div>

      <div class="project-section-nav large" data-spy="affix" data-offset-top="660">
        <div class="row">
          <dl class="tabs three-up">
            <dd class="active"><a href="#feed">Stories</a></dd>
            <dd><a href="#data">Tools &amp; Data</a></dd>
            <dd><a href="#talk">Discussion</a></dd>
          </dl>
        </div>
      </div>

      <ul class="tabs-content">
        <li class="active" id="feedTab">
          <a name="stories"></a>
          <div class="row">
            <div id="stories" class="twelve columns">
              <div class="items"></div>
            </div>
          </div>
        </li>
        <li id="dataTab">
          <a name="tools-and-data"></a>
          <div class="row">
            <div id="tools-and-data" class="twelve columns">
              <div class="items"></div>
            </div>
          </div>
        </li>
        <li id="talkTab">
          <a name="discussion"></a>
          <div class="row">
            <div id="discussion" class="twelve columns">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum

              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
          </div>
        </li>
      </ul>

    </div><!-- End News Container -->

    <footer></footer>

  </div><!-- End Content Container -->

  <script src="../../../javascripts/contrib/jquery.1.8.2.min.js" type="text/javascript"></script>
  <script src="../../../javascripts/contrib/underscore.min.js" type="text/javascript"></script>
  <script src="../../../javascripts/contrib/backbone.min.js" type="text/javascript"></script>
  <script src="../../../javascripts/contrib/backbone.paginator.min.js" type="text/javascript"></script>
  <script src="../../../javascripts/contrib/bootstrap.affix.min.js"></script>
  <script src="../../../javascripts/contrib/fastclick.min.js" type="text/javascript"></script>
  <script src="../../../javascripts/site.js" type="text/javascript"></script>
  <script src="http://localhost:8080/target/target-script-min.js#anonymous"></script>
  <!-- Included JS Files (Uncompressed) -->
  <script src="../../../javascripts/foundation/jquery.cookie.js"></script>
  <script src="../../../javascripts/foundation/jquery.event.move.js"></script>
  <script src="../../../javascripts/foundation/jquery.event.swipe.js"></script>
  <script src="../../../javascripts/foundation/jquery.foundation.accordion.js"></script>
  <script src="../../../javascripts/foundation/jquery.foundation.alerts.js"></script>
  <script src="../../../javascripts/foundation/jquery.foundation.buttons.js"></script>
  <script src="../../../javascripts/foundation/jquery.foundation.clearing.js"></script>
  <script src="../../../javascripts/foundation/jquery.foundation.forms.js"></script>
  <script src="../../../javascripts/foundation/jquery.foundation.joyride.js"></script>
  <script src="../../../javascripts/foundation/jquery.foundation.magellan.js"></script>
  <script src="../../../javascripts/foundation/jquery.foundation.mediaQueryToggle.js"></script>
  <script src="../../../javascripts/foundation/jquery.foundation.navigation.js"></script>
  <script src="../../../javascripts/foundation/jquery.foundation.orbit.js"></script>
  <script src="../../../javascripts/foundation/jquery.foundation.reveal.js"></script>
  <script src="../../../javascripts/foundation/jquery.foundation.tabs.js"></script>
  <script src="../../../javascripts/foundation/jquery.foundation.tooltips.js"></script>
  <script src="../../../javascripts/foundation/jquery.foundation.topbar.js"></script>
  <script src="../../../javascripts/foundation/jquery.placeholder.js"></script>
  <!-- Init Foundation Components -->
  <script src="../../../javascripts/foundation/app.js"></script>
  <!-- Templates -->
  <!-- Feature story -->
  <script type="text/template" id="feature-story-carousel-template">
    <img src="<%= photo %>">
    <div class="orbit-caption" id="feature-caption-<%= id %>">
      <h6><a href="/article/<%= slug %>"><%= headline %></a></h6>
      <span class="byline">By <%= author %>, <%= datetime %></span>
    </div>
  </script>
  <!-- News feed story -->
  <script type="text/template" id="news-feed-story-template">
    <h5><a name="id<%= id %>" href="/article/<%= slug %>"><%= headline %></a></h5>
    <div class="byline">By <%= author %>, <%= datetime %></div>
    <p><%= text %></p>
  </script>
  <!-- Tool -->
  <script type="text/template" id="tool-and-data-template">
    <a href="<%= url %>">
      <img src="<%= photo %>">
      <div class="caption">
        <h5><%= headline %></h5>
        <span><%= text %></span>
      </div>
    </a>
  </script>
  <!-- External News feed story -->
  <script type="text/template" id="external-news-feed-story-template">
    <h5><a name="id<%= id %>" class="external" href="<%= slug %>" target="_blank"><%= headline %></a></h5>
    <div class="byline">By <%= author %>, <%= datetime %></div>
    <p><%= text %></p>
  </script>
  <!-- Single story -->
  <script type="text/template" id="single-story-template">
    <div class="row">

      <aside id="sidebar" class="three columns">
        <div class="moving-container" data-spy="affix" data-offset-top="70">
          
          <div class="social-container">
            <strong>Share this article</strong>
            <div class="shorturl-container">
              <input type="text" name="shorturl" id="shorturl" value="http://axs.ph/Hnh34g" readonly="true"></input>
            </div>
            <div class="sites">
              <a href="#"><i class="social-foundicon-twitter"></i></a>
              <a href="#"><i class="social-foundicon-facebook"></i></a>
              <a href="#"><i class="social-foundicon-google-plus"></i></a>
              <a href="#"><i class="general-foundicon-mail"></i></a>
            </div>
          </div>
          
          <div class="project-info-container">
            <p>
              <strong>This article is part of our series on <a href="#">AVI</a>.
              Read more recent articles from the series:</strong>
            </p>
            <div class="recent-stories">
              <a href="#" class="headline">A Small Headline</a>
              <a href="#" class="headline">This Headline Will Be Much Longer Than the Rest of the Headlines</a>
              <a href="#" class="headline">A Slightly Bigger Headline</a>
              <a href="#" class="headline">Real Small</a>
              <a href="#" class="headline">This Headline Will Be Much Longer Than the Rest of the Headlines Even The Above Headline</a>
            </div>
          </div>

        </div>

      </aside>
      <article class="nine columns">
        <header>
          <h2 class="headline"><%= headline %></h2>
          <div class="media-container full-page">
            <div class="media">
              <img src="<%= photo %>"></img>
            </div>
            <div class="caption">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod. <i>John Doe for PPIIN</i>
              </p>
            </div>
          </div>
        </header>
        <div class="publish-container">
          <div class="byline">By <%= author %>, <%= datetime %></div>
        </div>
        <div class="article-text">
          <%= fullText %>
        </div>
        <nav class="article-navigation row">

        </div>
      </article>

    </div>
  </script>
  <!-- Story Navigation item -->  
  <script type="text/template" id="story-navigation-item-template">
    <a href="/article/<%= slug %>">
      <strong><%= direction %> Article</strong>
      <span><%= headline %></span>
    </a>
  </script>
</body>
</html> 